    @media screen and (max-width:1240px) {
        .navigation {
            flex-direction: column;
            margin-bottom: 22px;
        }
        .nav-left {
            font-size: 30px;
            /* width: 70%; */
            text-align: center;
            margin-bottom: 40px;
            flex-direction: column;
        }
        .nav-left img {
            max-width: 40vw;
            text-align: center;
        }
        .conent-left h1 {
            font-size: 21px;
        }
        .content-right {
            display: none;
        }
        .article {
            padding: 22px;
            /* align-items: center; */
            flex-direction: column;
            text-align: center;
        }
        .article img {
            text-align: center;
        }
        .nav-right form {
            width: 80vw;
            text-align: center;
        }
        .blog-post-content img {
            max-width: 50vw;
        }
        .blog-post {
            height: 100%;
            overflow: hidden;
            margin: 0;
        }
        .row {
            flex-direction: column;
        }
        .blog-post-content h2 {
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
            font-size: 25px
        }
    }